<app-loader *ngIf="isLoading"></app-loader>
<div *ngIf="!isLoading" class="col-xs-12">
  <h3>Veranstaltung</h3>
  <hr>
  <div *ngIf="!meetingExists">
    Die Veranstaltung mit der Id: {{ id }} existiert leider nicht. Bitte überprüfen Sie nochmal, ob Sie wirklich diese Veranstaltung sehen möchten.
  </div>
  <div *ngIf="meetingExists">
    <table>
      <thead>
      <tr>
        <th class="center">Name</th>
        <th class="center datetime">Datum</th>
        <th class="center datetime">Uhrzeit</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td class="center">{{ meeting.name }}</td>
          <td class="center">{{ meeting.datetime | date:'dd.MM.yyyy' }}</td>
          <td class="center">{{ meeting.datetime | date:'HH:mm' }} Uhr</td>
        </tr>
      </tbody>
    </table>
    <br>
    <table *ngIf="isEmpty" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th class="center">Zu dieser Veranstaltung hat sich noch niemand angemeldet.</th>
        </tr>
      </thead>
    </table>
    <table *ngIf="!isEmpty" class="table table-bordered table-striped" >
      <thead class="thead-dark">
        <tr>
          <th class="id">Nr.</th>
          <th>Vorname</th>
          <th>Nachname</th>
          <th>E-Mail</th>
          <th>Firma</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of meeting.users; let i = index">
          <td class="right">{{ i + 1 }}</td>
          <td>{{ user.firstname }}</td>
          <td>{{ user.lastname }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.company }}</td>
        </tr>
      </tbody>
    </table>
    <a class="btn btn-info col-xs-3" (click)="onBack()">zurück zur Übersicht</a>
  </div>
</div>
