<app-loader *ngIf="isLoading"></app-loader>
<div *ngIf="!isLoading" class="card col-xs-5">
  <div *ngIf="isLoggedIn">
    <span>Da Sie bereits eingeloggt sind, haben Sie ihr Passwort offensichtlich nicht vergessen.</span>
  </div>
  <div *ngIf="!isLoggedIn">
    <h3>Passwort vergessen</h3>
    <hr>
    <form
      [formGroup]="forgotPasswordForm"
      (ngSubmit)="onSubmit()">
      <div class="form-group">
        <span for="username">Benutzername:</span>
        <i *ngIf="forgotPasswordForm.get('username').invalid && forgotPasswordForm.get('username').touched"> Bitte geben Sie Ihren Beutzernamen ein.</i>
        <input
          type="text"
          id="username"
          formControlName="username"
          class="form-control">
      </div>
      <div class="form-group">
        <span for="password">E-mail:</span>
        <i *ngIf="forgotPasswordForm.get('email').invalid && forgotPasswordForm.get('email').touched"> Bitte geben Sie Ihre E-Mail ein.</i>
        <input
          type="email"
          id="email"
          formControlName="email"
          class="form-control">
      </div>
      <i *ngIf="!isDataValid">Der Benutzername und die E-mail passen nicht zusammen, oder es wurde bereits eine E-Mail angefordert.</i>
      <br>
      <br>
      <button type="submit" class="btn btn-info btn-block" [disabled]="forgotPasswordForm.invalid">
        <span *ngIf="forgotPasswordForm.valid">E-Mail versenden</span>
        <span *ngIf="forgotPasswordForm.invalid" class="disabled"> Das Formular ist noch nicht vollständig ausgefüllt.</span>
      </button>
      <hr>
      <button type="button" class="btn btn-primary btn-block" (click)="onLogin()">Haben Sie Ihr Passwort doch nicht vergessen? Zurück zum Login</button>
    </form>
  </div>
</div>
