<app-loader *ngIf="isLoading"></app-loader>
<div *ngIf="!isLoading" class="col-xs-6">
  <h3>Profil</h3>
  <hr>
  <table>
    <tbody>
      <tr>
        <th style="width: 160px; height: 30px;">Benutzername:</th>
        <td>{{ user.username }}</td>
      </tr>
      <tr>
        <th style="height: 30px;">Vorname:</th>
        <td>{{ user.firstname }}</td>
      </tr>
      <tr>
        <th style="height: 30px;">Nachname:</th>
        <td>{{ user.lastname }}</td>
      </tr>
      <tr>
        <th style="height: 30px;">Email:</th>
        <td>{{ user.email }}</td>
      </tr>
      <tr>
        <th style="height: 30px;">Firma/Unternehmen:</th>
        <td>{{ user.company }}</td>
      </tr>
      <tr>
        <th style="height: 30px;">Rolle:</th>
        <td>{{ role }}</td>
      </tr>
    </tbody>
  </table>
  <span *ngIf="!isAdmin">
    <hr>
    <button class="btn btn-primary col-md-4" (click)="onEdit()">Profil bearbeiten</button>
    <div class="col-md-4"></div>
    <button class="btn btn-danger col-md-4" (click)="onDelete()">Profil löschen</button>
  </span>
</div>
