<app-loader *ngIf="isLoading"></app-loader>
<div *ngIf="!isLoading" class="col-xs-6">
  <h3>Profil bearbeiten</h3>
  <hr>
  <form
    [formGroup]="profileForm"
    (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="firstname">Vorname: </label>
      <i *ngIf="profileForm.get('firstname').invalid && profileForm.get('firstname').touched"> {{ firstnameError }}</i>
      <input
        type="text"
        id="firstname"
        formControlName="firstname"
        class="form-control"
        placeholder="Vorname"
        (ngModelChange)="changedFirstname()">
    </div>
    <div class="form-group">
      <label for="lastname">Nachname: </label>
      <i *ngIf="profileForm.get('lastname').invalid && profileForm.get('lastname').touched"> {{ lastnameError }}</i>
      <input
        type="text"
        id="lastname"
        formControlName="lastname"
        class="form-control"
        placeholder="Nachname"
        (ngModelChange)="changedLastname()">
    </div>
    <div class="form-group">
      <label for="email">E-Mail: </label>
      <i *ngIf="profileForm.get('email').invalid && profileForm.get('email').touched || emailAlreadyExists"> {{ emailError }}</i>
      <input
        type="email"
        id="email"
        formControlName="email"
        class="form-control"
        placeholder="E-Mail"
        (ngModelChange)="changedEmail()">
    </div>
    <div class="form-group">
      <label for="company">Firma/Unternehmen: </label>
      <i *ngIf="profileForm.get('company').invalid && profileForm.get('company').touched"> {{ companyError }}</i>
      <input
        type="text"
        id="company"
        formControlName="company"
        class="form-control"
        placeholder="Firma/Unternehmen"
        (ngModelChange)="changedCompany()">
    </div>
    <button type="button" class="btn btn-primary btn-block" (click)="onEditPassword()">
      <span *ngIf="editPasswordActive">Passwort bearbeiten deaktivieren</span>
      <span *ngIf="!editPasswordActive">Passwort bearbeiten aktivieren</span>
    </button>
    <br>
    <button type="submit" class="btn btn-info btn-block" [disabled]="(!editPasswordActive && (profileForm.invalid || emailAlreadyExists)) || (editPasswordActive && (profileForm.invalid || passwordForm.invalid || emailAlreadyExists || newPasswordCheckError))">
      <span *ngIf="!((!editPasswordActive && (profileForm.invalid || emailAlreadyExists)) || (editPasswordActive && (profileForm.invalid || passwordForm.invalid || emailAlreadyExists || newPasswordCheckError)))">Profil speichern</span>
      <span *ngIf="(!editPasswordActive && (profileForm.invalid || emailAlreadyExists)) || (editPasswordActive && (profileForm.invalid || passwordForm.invalid || emailAlreadyExists || newPasswordCheckError))" class="disabled">Bitte füllen Sie alle Eingabefelder aus</span>
    </button>
  </form>
  <hr>
  <button type="button" class="btn btn-secondary col-xs-12" (click)="onBackToProfile()">Zurück zum Profil</button>
</div>
<div *ngIf="editPasswordActive" class="col-xs-6">
  <h3>Passwort ändern</h3>
  <hr>
  <form
    [formGroup]="passwordForm">
    <div class="form-group">
      <label for="currentPassword">Aktuelles Passwort: </label>
      <i *ngIf="passwordForm.get('currentPassword').invalid && passwordForm.get('currentPassword').touched"> {{ passwordError }}</i>
      <input
        type="password"
        id="currentPassword"
        formControlName="currentPassword"
        class="form-control"
        placeholder="Aktuelles Passwort"
        (ngModelChange)="changedPassword()">
    </div>
    <br>
    <div class="form-group">
      <label for="password">Neues Passwort: </label>
      <i *ngIf="passwordForm.get('password').invalid && passwordForm.get('password').touched"> {{ newPasswordError }}</i>
      <input
        type="password"
        id="password"
        formControlName="password"
        class="form-control"
        placeholder="Neues Passwort"
        (ngModelChange)="changedNewPassword()">
    </div>
    <div class="form-group">
      <label for="passwordCheck">Neues Password bestätigen: </label>
      <i *ngIf="passwordForm.get('passwordCheck').touched && newPasswordCheckError"> {{ newPasswordCheckError }}</i>
      <input
        type="password"
        id="passwordCheck"
        formControlName="passwordCheck"
        class="form-control"
        placeholder="Neues Passwort bestätigen"
        (ngModelChange)="changedNewPasswordCheck()">
    </div>
  </form>
</div>
