<app-loader *ngIf="isLoading"></app-loader>
<div *ngIf="!isLoading" class="col-xs-12">
  <h3>Veranstaltungsliste</h3>
  <hr>
  <div *ngIf="isAdmin">
    <button class="btn btn-success col-xs-3" (click)="onAddMeeting()">Veranstaltung hinzufügen</button>
    <br>
    <br>
    <br>
  </div>
  <div *ngIf="!meetingsExists">
    Es existieren noch keine Veranstaltungen, bitte fügen Sie zuerst welche hinzu, oder wenden Sie sich an einen Administrator, damit dieser Veranstaltungen hinzufügt.
  </div>
  <div *ngIf="meetingsExists">
    <table class="table table-bordered table-striped" >
      <thead class="thead-dark">
        <tr>
          <th class="id">Nr.</th>
          <th>Veranstaltungsname</th>
          <th class="center date">Datum</th>
          <th class="center time">Uhrzeit</th>
          <th *ngIf="isAdmin" class="center action">Aktion</th>
          <th *ngIf="isAdmin" class="center visible">Sichtbar
            <h6 class="glyphicon glyphicon-info-sign" matTooltip="Wenn aktiviert, dann ist die Veranstaltung für Standardbenutzer sichtbar" [matTooltipPosition]="'right'"></h6>
          </th>
          <th *ngIf="isAdmin" class="center participants">Teilnehmerliste</th>
          <th *ngIf="!isAdmin" class="center takePart">Teilnehmen</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let meeting of meetings; let i = index">
          <td class="right">{{ i + 1 }}</td>
          <td>{{ meeting.name }}</td>
          <td class="center" >{{ meeting.datetime | date:'dd.MM.yyyy' }}</td>
          <td class="center" >{{ meeting.datetime | date:'HH:mm' }} Uhr</td>
          <td *ngIf="isAdmin" class="center">
            <button class="btn btn-info btn-xs" (click)="onEditMeeting(meeting.id)">Bearbeiten</button>
            |
            <button class="btn btn-danger btn-xs" (click)="onDeleteMeeting(meeting.id)">Löschen</button>
          </td>
          <td *ngIf="isAdmin" class="center">
            <mat-checkbox [checked]="meeting.display" color="primary" (change)="onChangeDisplay(i)"></mat-checkbox>
          </td>
          <td *ngIf="isAdmin" class="center" >
            <a (click)="onShowParticipants(meeting.id)">anzeigen</a>
          </td>
          <td *ngIf="!isAdmin" class="center">
            <mat-checkbox [checked]="signupValues[meeting.id]" color="primary" (change)="onChangeSignup(meeting.id)"></mat-checkbox>
          </td>
        </tr>
      </tbody>
    </table>
    <button type="submit" class="btn btn-info col-xs-3" (click)="onSaveChanges()" [disabled]="!isDifferent">
      <span *ngIf="isDifferent">Änderungen übernehmen</span>
      <span *ngIf="!isDifferent" class="disabled">keine Änderungen vorhanden</span>
    </button>
    <span class="col-xs-6"></span>
    <button type="submit" class="btn btn-danger col-xs-3" (click)="onDiscardChanges()" [disabled]="!isDifferent">
      <span *ngIf="isDifferent">Änderungen verwerfen</span>
      <span *ngIf="!isDifferent" class="disabled">keine Änderungen vorhanden</span>
    </button>
  </div>
</div>
