<app-loader *ngIf="isLoading"></app-loader>
<div *ngIf="!isLoading" class="card col-xs-5">
  <div *ngIf="isLoggedIn">
    <span>Sie sind bereits eingeloggt</span>
  </div>
  <div *ngIf="!isLoggedIn">
    <h3>Login</h3>
    <hr>
    <form
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()">
      <div class="form-group">
        <span for="username">
          <b *ngIf="isUsernameLogin"><a>Benutzername</a></b>
          <a *ngIf="!isUsernameLogin" (click)="changeIsUsernameLogin()">Benutzername</a>
          oder
          <b *ngIf="!isUsernameLogin"><a>E-Mail</a></b>
          <a *ngIf="isUsernameLogin" (click)="changeIsUsernameLogin()">E-Mail</a>:
        </span>
        <i *ngIf="loginForm.get('usernameOrEmail').invalid && loginForm.get('usernameOrEmail').touched">
          <span *ngIf="isUsernameLogin">Bitte Ihren Beutzernamen eingeben.</span>
          <span *ngIf="!isUsernameLogin">Bitte Ihre E-Mail eingeben.</span>
        </i>
        <input
          type="text"
          id="usernameOrEmail"
          formControlName="usernameOrEmail"
          class="form-control">
      </div>
      <div class="form-group">
        <span for="password">Passwort:</span>
        <i *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched"> Bitte Ihr Passwort eingeben.</i>
        <input
          type="password"
          id="password"
          formControlName="password"
          class="form-control">
      </div>
      <i *ngIf="isLoginFailed">Fehlerhafte Logindaten</i>
      <br>
      <br>
      <button type="submit" class="btn btn-info btn-block" [disabled]="loginForm.invalid">
        <span *ngIf="loginForm.valid">Anmelden</span>
        <span *ngIf="loginForm.invalid"
              class="disabled"> Das Anmeldeformular ist noch nicht vollständig ausgefüllt.</span>
      </button>
      <hr>
      <button type="button" class="btn btn-primary btn-block" (click)="onRegister()">Noch kein Mitglied? Hier
        registrieren
      </button>
      <button type="button" class="btn btn-primary btn-block" (click)="onForgoPassword()">Haben Sie ihr Passwort
        vergessen?
      </button>
    </form>
  </div>
</div>
