<app-loader *ngIf="isLoading"></app-loader>
<div *ngIf="!isLoading" class="card col-xs-5">
  <div *ngIf="isLoggedIn">
    <span>Da Sie bereits eingeloggt sind, haben Sie ihr Passwort offensichtlich nicht vergessen.</span>
  </div>
  <div *ngIf="!isLoggedIn">
    <h3>Setzen Sie Ihr neues Passwort</h3>
    <hr>
    <form
      [formGroup]="setNewPasswordForm"
      (ngSubmit)="onSubmit()">
      <div class="form-group">
        <span for="password">Passwort:</span>
        <i *ngIf="setNewPasswordForm.get('password').invalid && setNewPasswordForm.get('password').touched"> {{ passwordError }}</i>
        <input
          type="password"
          id="password"
          formControlName="password"
          class="form-control"
          (ngModelChange)="changedPassword()">
      </div>
      <div class="form-group">
        <span for="passwordCheck">Passwort bestätigen:</span>
        <i *ngIf="setNewPasswordForm.get('passwordCheck').touched && passwordCheckError"> {{ passwordCheckError }}</i>
        <input
          type="password"
          id="passwordCheck"
          formControlName="passwordCheck"
          class="form-control"
          (ngModelChange)="changedPasswordCheck()">
      </div>
      <i *ngIf="!isDataValid">Bitte füllen Sie alle Felder korrekt aus</i>
      <br>
      <br>
      <button type="submit" class="btn btn-info btn-block" [disabled]="setNewPasswordForm.invalid || passwordCheckError">
        <span *ngIf="setNewPasswordForm.valid && !passwordCheckError">Passwort aktualisieren</span>
        <span *ngIf="setNewPasswordForm.invalid || passwordCheckError" class="disabled"> Das Formular ist noch nicht vollständig ausgefüllt.</span>
      </button>
    </form>
  </div>
</div>
